{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Selecione o Download{% endblock %} 

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/selDownload.css' %}">
{% endblock %}

{% block 'conteudo' %}
<div class="BlocoEntrada">

    <div class="divEscolheDownload">
        <h1>Arquivos Gerados! :) </h1>
        <h3 style="font-weight: 200;">Selecione o(s) arquivo(s) a realizar o download:</h3>
        
        <div class="opcoes">
            {% for i in resultados_gerados.nomesArqs %}
                <div class="opcaoDownload">
                    <div class="iconFile">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="50" height="50"
                            viewBox="0 0 50 50"
                            style=" fill:#000000;">
                            <path d="M 7 2 L 7 48 L 43 48 L 43 14.59375 L 42.71875 14.28125 L 30.71875 2.28125 L 30.40625 2 Z M 9 4 L 29 4 L 29 16 L 41 16 L 41 46 L 9 46 Z M 31 5.4375 L 39.5625 14 L 31 14 Z"></path>
                        </svg>
                    </div>
                    
                    <div class="fileName">
                        <h3 style="font-weight: 200;">{{i}}</h3>
                    </div>

                    <a class="botao" href="{% url 'download' i %}">
                        <h3>
                            Download
                        </h3>
                    </a>
                </div>
            {% endfor %} 
        </div>
        
        <a href="{% url 'download' 'final.zip' %}" style="margin-top: 100px;" class="btn_todos">
            Download ZIP
        </a>
    
        <a href="{% url 'upload' %}" class="btn_todos">
            Inicio
        </a>

    </div>

    
    

</div>
{% endblock %}